<div id='map' #map></div>

<div class="floating-range p-2">
  <div class="floating-content">
    <button (click)="zoomOut()" class="btn btn-outline-primary btn-sm"> - </button>

    <input type="range"
      class="form-range px-2"
      min="-2"
      max="18"
      [value]="zoom"
      (input)="zoomChanges( zoomInput.value )"
      #zoomInput
    >
    <button (click)="zoomIn()" class="btn btn-outline-primary btn-sm"> + </button>
  </div>

  <span class="form-label">
    Zoom Level: {{ zoom | number: '2.2-2'}}
    <br>
    Longitur, Latitud:  {{ this.lngLat.lng | number: '2.2-6' }}, {{ this.lngLat.lat | number: '2.2-6' }}
  </span>

</div>
